/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/

body{
    box-sizing: border-box;
    line-height: 1.4em;
    background-color: paleturquoise;
}
header{
    display: inline-flex;
    width: 99%;
    position: fixed;
    background-color: lightgreen ;

}
.menu{
    display: inline-flex;
    list-style: none;
    margin: 20px 40px;
}
.item{
    margin-left: 20px;
    font-size: 20px;
    /*padding-top: 22px;*/
    /*  padding-left: 30px;*/
    padding: 20px;
    color: darkorange;
}

.tieudeh1{
    text-align: center;
    margin: 20px 0 0 0;

}
#sanpham1, #sanpham2, #sanpham3{
    display: inline-flex;
}
#sanpham11, #sanpham22{
    display: inline-flex;
}
footer{
    display: inline-flex;
    width: 100%;
    border: 2px solid #000000;
    margin: 80px 0 0 0 ;
    clear:both;

}
#footer1{
    width: 100%;
    display: inline-flex;
}
.ft1{
    padding: 30px;
    width: 30%;

}

#footer2{
    width: 30%;
    padding: 50px;
    justify-content: flex-end;
}
#ft2 {
    width: 30%;
}

#ul1 {
    padding: 0;
}
#ul1 li {
    width: 100px;
}
#ul2{
    padding: 0;
}
#ul2 li {
    width: 100px;
}
#ul2 li a{
    text-decoration: none;
}
.themdo{
    background-color: lightpink;
    text-align: center;

}
.tthemdo{
    display: inline-flex;
    text-align: center;
    margin-left: .5rem;
}
.tien{
    color: deeppink;
    padding: 10px;
    margin: 0 60px 0 0;
}
#info{
    display: inline-flex;
    margin: 0 20px 0 0;
}
.tiensale {
    color: deeppink;
    padding: 10px;
    text-decoration: line-through;
    margin: 0 60px 0 0;
}
.xemthem {
    background-color: white;
    text-align: center;
    color: lightseagreen;
    width: 125px;
    height: 40px;
    margin: 240px 0 0 0;
}

.video{
    margin: 80px 0 0 0;
}
.activeSlide {
    display: block;
}
.hiddenSlide {
    display: none;
}
.slideImg {
    margin-top: 2%;
    width: 99%;
    height: 500px;
    position: absolute;

}
.slide:hover .btn{
    display: block;
}
.slideContent {
    width: 100%;
    height: 300px;
    display: inline-flex;
}
.imgposter{
    margin: 0 200px 0 0;
}
button:hover,button a.themdo {
     color: white;
     text-decoration: none;
     background-color: lightseagreen;
 }
.item:hover,.item a.on{
      color: lightseagreen;
      text-decoration: none;
}
.danhmuc{
    display: none;
    height: 50%;
    width: 15%;
    background-color: #eeeeee ;
    margin-top: 1%;
    position: absolute;
    animation: openDanhmuc ease 0.3s;
    box-shadow: -1px 9px 16px #000;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: darkorange;
}
.item:hover .danhmuc{
    display: block;
    background-color: lightgreen;
}

.danhmuc li:hover{
    margin-top: 2px;
    color: lightseagreen ;
    border-bottom: 2px solid lightseagreen;
}
.search {
    display: none;
    background-color: #eeeeee;
    margin-top: 1%;
    position: absolute;
    animation: openDanhmuc ease 0.3s;
    box-shadow: -1px 9px 16px #000;
}
.item:hover .search {
    display: block;
    background-color: lightgreen
}
.timkiem{
    width: 220px;
    height: 40px;
}
@keyframes openDanhmuc {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}